<div id="leftBar">
    <d2-left-bar></d2-left-bar>

    <!--<div id="orgUnitTree">
        <ul>
        </ul>
    </div>-->

</div>

<div class="row" id="mainPage">
    <div class="col-sm-8 col-md-6">
        <table class="table table-borderless table-striped">
           <!-- <tr>
                <td>{{'orgUnitLabel' | translate}}</td>
                <td>
                    <input type="text" class="form-control" value="{{selectedOrgUnit.name|| 'please_select'| translate}}" ng-disabled="true">
                </td>
            </tr>-->
            <tr>
                <td >
                    {{'programs'| translate}}
                </td>
                <td class='col-sm-4 col-md-6'>
                    <select ng-model="selectedProgram"
                            class="form-control"
                            ng-options="program.name for program in programs | orderBy: 'name'">
                        <!--ng-disabled="selectedOrgUnit.programs.length < 1">-->
                        <option value="">Please select program</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> <label>Choose Date Between </label></td>
                <td>
                    <input calendar ng-model='startdate' ng-change="updateStartDate(startdate);" required />
                    <input calendar ng-model='enddate'  ng-change="updateEndDate(enddate);" required/>
                </td>
            </tr>

        </table>


        <div class="col-md-6 trim">
            <button type="button" class="btn btn-primary" ng-click="delete(selectedProgram, report, selectedOuMode);" ng-disabled="!selectedProgram">{{"delete"| translate}}</button>
        </div>

    </div>

</div>

<div class="col-sm-8 col-md-6 vertical-spacing" style="float: right">
<div class="alert alert-warning">{{mymessage}}</div>
<!--<div class="alert alert-warning" ng-hide="deleteRows">Event deletion failure</div>-->
</div>

<div class="row" ng-if="selectedOrgUnit.programs.length > 0 && !selectedProgram">
    <div class="col-sm-8 col-md-6 vertical-spacing">
        <div class="alert alert-warning">{{'please_select_program_report'| translate}}</div>
    </div>
</div>