
<div id="leftBar">
    <d2-left-bar></d2-left-bar>

</div>
<div id="mainPage">
    <h2></h2>

    <label>Upload .xlsx or .csv file</label>
    <input type="file" id="fileInput">

    <button ng-click="getSet()">Import</button>

    <div ng-show="importSummary.outcome == 'error'">
     <label>{{importSummary.errorMessage}}</label>
    </div>
    <div>
        Following Mappings were found :-
        <table class="table-bordered">
            <tr>
                <th>Domain</th>
                <th>Column</th>
                <th>Field</th>
                <th>Arguments</th>
            </tr>
            <tbody ng-repeat="iSummary in initialSummary">
            <tr><td rowspan="{{iSummary.length+1}}">{{iSummary[0].domain}}</td></tr>
            <tr ng-repeat="item in iSummary">
                <td>{{item.key}}</td>
                <td>{{item.field}}</td>
                <td>{{item.args}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div>
        No of Requests made : {{requestStats.requestCount}}<br>
        No of Successful requests : {{requestStats.successCount}}<br>
        No of Failed requests : {{requestStats.errorCount}}

        <table class="table-bordered">
            <thead>
            <tr>
                <th>Row</th>
                <th>Domain</th>
                <th>Status</th>
                <th>HTTP Response</th>
                <th>Conflict Details</th>
                <th>Reference</th>
            </tr>
            </thead>
            <tbody ng-repeat="summaryItems in importSummary">
                <tr>
                    <td rowspan="{{summaryItems.length+1}}"> {{summaryItems[0].row+2}}</td>
                </tr>
                <tr ng-repeat="item in summaryItems">
                    <td>{{item.domain}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.httpResponse.message}}</td>
                    <td><i ng-repeat="conflict in item.conflicts">{{conflict.object}} {{conflict.value}}</i> </td>
                    <td>{{item.reference}}</td>
                </tr>
            </tbody>
        </table>
    </div>

<div class="alert">
    <table>
        <tr ng-repeat="error in errorList">
            <td>{{error.description}}</td>
        </tr>
    </table>
</div>
</div>
